 <!-- Page Layout here -->
    <div class="container">
    <div class="row">

      <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
        <%= "Empresa: #{@user_companies.company}"%>

      </div>

      <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
        <%= "País: #{@user_companies.country}"%>
      </div>

    </div>

</div>
