<div class="container">
<blockquote>
  <h2 style="text-align:center;font-size:25px;font-color:#424242">Editing Internshi</h2>
</blockquote>

<%= render 'form', internship: @internship %>
<div class="container">
<%= link_to 'Show', @internship, class: "waves-effect waves-light btn"  %> |
<%= link_to 'Back', internships_path, class: "waves-effect waves-light btn"  %>
</div></div>