<div class="container">
<blockquote>
  <h2 style="text-align:center;font-size:30px;font-color:#424242">Cadastrar estágio</h2>
</blockquote>

<%= render 'form', internship: @internship %>
<div class ="container">
<%= link_to 'Back', internships_path, class: "waves-effect waves-light btn" %>
</div></div>